<mat-nav-list dense>
    <mat-list-item *ngIf="!authGuard.canActivate(null,null)" [routerLinkActive]="['link-active']">
        <a [routerLink]="['/home']">Home</a>
    </mat-list-item >
    <mat-list-item *ngIf="authGuard.canActivate(null,null)" [routerLinkActive]="['link-active']">
        <a [routerLink]="['/myhome']">Главная</a>
    </mat-list-item >
    <mat-list-item  [routerLinkActive]="['link-active']">
        <a [routerLink]="['/counter']">Counter</a>
    </mat-list-item >
    <mat-list-item  [routerLinkActive]="['link-active']">
        <a [routerLink]="['/orders']">Заказы</a>
    </mat-list-item >
</mat-nav-list>
