<div fxLayout="row wrap">
    <div fxFlex="60%">
        <div class="title">{{order.caption}}</div>
        <div class="subtitle">Subtitle</div>
    </div>
    <div fxFlex="20%">
        <div>Актуален до:</div>
    </div>
    <div fxFlex="20%">
        <div >Категория</div>
    </div>
    <div fxFlex="60%" class="content">
        <div>{{order.text}}</div>            
    </div>
    <div fxFlex="40%" class="content">
        <div>Карта</div>
    </div>
    <div fxFlex="50%">
        <p>Метки</p>
        <mat-chip-list>
            <mat-chip >Footer</mat-chip>
            <mat-chip >Chip 2</mat-chip>
        </mat-chip-list>
    </div>
    <div fxFlex="50%" fxLayoutAlign="end">
        <p>{{order.cost}}</p>
        <button mat-button >Далее</button> 
    </div>
</div>