 <mat-horizontal-stepper class="panel-v" [linear]="true">
    <mat-step [stepControl]="regUserForm" label="Пользователь">
            <form [formGroup]="regUserForm"  novalidate>
                <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">
                    <input matInput type="text" placeholder="Фамилия" formControlName="lastName" required />
                </mat-form-field>
                <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">
                    <input matInput type="text" placeholder="Имя" formControlName="firstName" required />
                </mat-form-field>
                <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">
                    <input matInput type="text" placeholder="Отчество" formControlName="secondName"/>
                </mat-form-field>
                <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">
                    <input matInput placeholder="Телефон" type="tel" formControlName="telephone"/>
                </mat-form-field>
                <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">
                    <input matInput placeholder="Эл. почта" formControlName="email" required email />                       
                </mat-form-field>
                <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">                    
                    <input matInput placeholder="Пароль" type="password" formControlName="password" required />    
                </mat-form-field>
                <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">                    
                    <input matInput placeholder="Повторите пароль" type="password" formControlName="repeat" required />    
                </mat-form-field>
                <div class="form-group">
                    <button mat-raised-button color="accent" [disabled]="!regUserForm.valid" matStepperNext>Далее</button>
                    <a mat-button color="warn" [routerLink]="['/login']" class="btn btn-link">Отмена</a>
                </div>    
            </form>
    </mat-step>
    <mat-step label="Компания">
        <form [formGroup]="regAddressForm" novalidate>   
            <mat-form-field [ngStyle]="{'width':'40%','margin-left':'5%'}">
                    <input matInput type="text" required placeholder="Улица" formControlName="street"/>
            </mat-form-field>
            <mat-form-field [ngStyle]="{'width':'20%'}">
                    <input matInput type="text" required placeholder="Дом" formControlName="number"/>
            </mat-form-field>
            <mat-form-field [ngStyle]="{'width':'20%','margin-right':'5%'}">
                    <input matInput type="text" required placeholder="Помещение" formControlName="flat"/>
            </mat-form-field>
        </form>
        <mat-divider></mat-divider>
        <form [formGroup]="regCompanyForm" novalidate>
            <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">
                <input matInput type="text" placeholder="Полное наименование" formControlName="name" required />
            </mat-form-field>
            <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">
                <input matInput type="text" placeholder="Короткое наименование ( вывеска )" formControlName="shortName" required />
            </mat-form-field>
            <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">
                <input matInput type="text" formControlName="pan" placeholder="УНН" required />
            </mat-form-field>
            <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">
                <textarea matInput type="text" formControlName="about" placeholder="О компании" required></textarea>                       
            </mat-form-field>            
            <mat-form-field [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}">                
                <input matInput type="text" placeholder="Ваши контакты" #cont />
                <mat-select #contType [ngStyle]="{'min-width':'120px'}" value="email" matSuffix>
                    <mat-option *ngFor="let type of contactType" [value]="type.value">{{type.name}}</mat-option>
                </mat-select>
                <button mat-button *ngIf="cont.value" matSuffix mat-icon-button aria-label="Clear" (click)="cont.value=''">
                    <mat-icon class="mat-18">close</mat-icon>
                </button>
                <button mat-icon-button (click)="addContact(cont.value,contType.value)" (click)="cont.value = ''" matSuffix>
                    <mat-icon class="mat-18">keyboard_return</mat-icon>
                </button>
            </mat-form-field>
            <div [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%'}" [innerHtml]="contactList">{{contactList}}</div>
            <input id="file-input" accept="image/" type="file" (change)="addImage($event)" hidden="true" equired/>
                <label  for="file-input">
                    <a mat-icon-button>
                        <mat-icon class="mat-18">file_upload</mat-icon>
                        Загрузить изображение
                    </a>
            </label>
            <div>
                <button mat-raised-button color="accent" [disabled]="!regCompanyForm.valid && regCompanyForm.value.contacts.length < 2" matStepperNext>Далее2</button>
                <a mat-button color="warn" [routerLink]="['/login']" class="btn btn-link">Отмена</a>
            </div>    
        </form>
    </mat-step>
    <mat-step [stepControl]="regCompanyForm" label="Завершение">

        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>

        <button mat-raised-button color="accent" (click)="register()" [disabled]="loading">Зарегестрировать</button>
        <div [ngStyle]="{'width':'80%','margin-left':'5%','margin-right':'5%','float':'left'}" >        
            <mat-spinner [diameter]="50" *ngIf="loading"></mat-spinner>
        </div>

    </mat-step>
 </mat-horizontal-stepper>
