footer {
    position: fixed;
    background-color: #e6e6e6;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    height: 14px;
    flex: 0 0 auto;
    box-shadow: inset 0px 6px 3px rgba(0,0,0,.1);
  }
  @media (max-width: 768px){
    footer {
      position: fixed;
      background-color: #e6e6e6;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 0.5em;
      padding: 1rem;
      flex: 0 0 auto;
      box-shadow: inset 0px 6px 3px rgba(0,0,0,.1);
    }     
  }
