<mat-toolbar class="mat-elevation-z5" color="primary">            
   <mat-toolbar-row [ngStyle]="{'padding-left':'0','padding-right':'0'}">
    <button class="drawer-btn" type="button" mat-button (click)="drawer.toggle()"><mat-icon class="mat-18">menu</mat-icon></button>
        <span> Купец.бай
            <app-alert></app-alert>
        </span>
        <span class="spacer"></span>
        <div class="drawer-btn" *ngIf="authGuard.canActivate(null,null)">
            <button class="drawer-btn" type="button" mat-button (click)="logoutDialog()"><mat-icon class="mat-18">email</mat-icon>{{profile.email}}</button>
        </div>
        <div class="drawer-btn" *ngIf="!authGuard.canActivate(null,null)">
            <button class="drawer-btn" type="button" mat-button (click)="openDialog()"><mat-icon class="mat-18">input</mat-icon></button>
        </div>        
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer class="example-sidenav" mode="side" opened="true">
        <nav-menu></nav-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>        




  

  