<mat-toolbar class="mat-elevation-z5" color="primary">            
   <mat-toolbar-row>
    <button class="drawer-btn" type="button" mat-button (click)="drawer.toggle()"><mat-icon class="mat-18">menu</mat-icon></button>
        <span> Купец.бай</span>
        <span class="spacer"></span>
        <div *ngIf="!profLoad;else alt">
            <button class="drawer-btn" type="button" mat-button (click)="openDialog()"><mat-icon class="mat-18">input</mat-icon></button>
        </div>
        <ng-template #alt>
            <button class="drawer-btn" type="button" mat-button (click)="logoutDialog()"><mat-icon class="mat-18">email</mat-icon>{{profile.email}}</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer class="example-sidenav" mode="side" opened="true">    
        <nav-menu></nav-menu>
    </mat-sidenav>
    <mat-sidenav-content>       
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>        




  

  