<h2 mat-dialog-title>Создание заявки</h2>
<div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true">
        <mat-step [stepControl]="orderForm" label="Заявка">
            <form [formGroup]="orderForm" novalidate (ngSubmit)="onSubmit()">
                <mat-form-field [ngStyle]="{'width':'90%','font-size':'0.9rem'}" hintLabel="не более 255 символов">
                    <input matInput type="text" #caption formControlName="caption" placeholder="тут введите заголовок" maxlength="255" value=""/>
                    <span matSuffix></span> 
                    <mat-hint [ngStyle]="{'font-size':'0.9rem'}" align="end">{{caption.value?.length || 0}}/255</mat-hint>
                </mat-form-field>
                <p></p>
                <mat-form-field [ngStyle]="{'width':'90%'}" >
                    <textarea matInput type="text" #description formControlName="description" placeholder="а тут введите описание работ" minlength="50" value=""></textarea>
                    <mat-hint [ngStyle]="{'font-size':'0.7rem'}" align="start">не менее 50-ти символов</mat-hint>
                    <mat-hint [ngStyle]="{'font-size':'0.7rem'}" align="end">50/{{description.value?.length || 0}}</mat-hint>
                </mat-form-field>                
                <mat-form-field [ngStyle]="{'width':'30%'}" >
                    <input matInput [matDatepicker]="myDatepicker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field [ngStyle]="{'width':'30%'}">
                    <input matInput formControlName="cost" type="number" min="0" placeholder="cтоимость"/>
                    <span matSuffix [ngStyle]="{'font-size':'0.9rem'}">BYN</span> 
                </mat-form-field>
            </form>            
            <button mat-raised-button align="end" [disabled]="!orderForm.valid" matStepperNext>Далее</button>
        </mat-step>
        <mat-step [stepControl]="orderForm" label="Получатель">
            <mat-radio-group [ngStyle]="{'flex-direction':'column','display': 'inline-flex'}" [(ngModel)]="selectedCompany">
                <mat-radio-button  *ngFor="let company of companies" [value]="company">{{company.name}}</mat-radio-button>
            </mat-radio-group> 
            <button mat-button matStepperNext>Далее</button>
        </mat-step>
        <mat-step label="Данные для связи с вами">
            <button mat-button (click)="onSubmit()">Отправить</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>
