<div [ngStyle]="{'height':'100%'}">
        <mat-card class="panel">
    <mat-grid-list [ngStyle]="{'height':'100%'}" cols="{{columns}}" rowHeight="fit" [gutterSize]="'10px'">
        <mat-grid-tile *ngFor="let company of companies" [colspan]="1" [rowspan]="1">
            <mat-card class="content">                 
                <mat-card-header>
                    <img matCardAvatar src="https://cdn1.iconfinder.com/data/icons/rcons-user-action/512/users_woman-512.png">
                    <mat-card-title [ngStyle]="{'font-size':'1.2rem'}">{{company.shortName}}</mat-card-title>
                    <mat-card-subtitle [ngStyle]="{'font-size': '0.7rem'}">УНП: {{company.pan}}</mat-card-subtitle>
                </mat-card-header>              
                <mat-card-content [ngStyle]="{'font-size': '0.9rem','min-height':'100px'}">
                        <div class="maps" >
                                <app-google-map [lat]="51.673858" [lng]="7.815982"></app-google-map>
                        </div> 
                </mat-card-content>
                <mat-card-actions  align="end">
                    <button mat-button color="primary" (click)="onAction(event)"><span [ngStyle]="{'font-size': '0.9rem'}">Подробнее</span></button>
                    <button mat-button (click)="onOrder(company.idCompany)"><span [ngStyle]="{'font-size': '0.9rem'}"> Отправить заявку</span></button>                        
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    </mat-card>
</div>