mat-card{   
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
    background-color: #fffcca;
    border-radius: 0.2vw;
    border-width: 3px;
    border-color: #259f6c;
  }