<div class="panel">
    <mat-accordion displayMode="default" [multi]="false"
                [hideToggle]="false">        
        <mat-expansion-panel  [hideToggle]="false" [expanded]="!changed">
            <mat-expansion-panel-header>Стол заказов</mat-expansion-panel-header>
            <app-order-list [dataSource]="orders" (change)="change($event)" ></app-order-list>
        </mat-expansion-panel>
        <mat-expansion-panel [hideToggle]="false" [disabled]="!changed" (closed)="onChanged()" [expanded]="changed">
            <mat-expansion-panel-header>Просмотр</mat-expansion-panel-header>
            <app-order-view [order]="order"></app-order-view>
        </mat-expansion-panel>
        <button mat-fab class="floatbtn" (click)="openDialog()"><mat-icon class="mat-18">add</mat-icon></button>
    </mat-accordion>
</div>