<mat-tab-group>
  <mat-tab label="Заявки">
    <mat-card class="panel">
      <mat-card-header>
        <mat-card-title>Интересные заявки</mat-card-title>
        <mat-card-subtitle>отображены заявки из ваших категорий</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      <app-order-list *ngIf="orders.count != 0" [dataSource]="orders"></app-order-list>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Настройки">

  </mat-tab>
  <mat-tab label="Сервисы">

  </mat-tab>
</mat-tab-group>

