<mat-tab-group>
  <mat-tab label="Заявки">
    <div class="panel">
      <mat-accordion displayMode="default" [multi]="false"
        [hideToggle]="false">        
        <mat-expansion-panel [hideToggle]="false" [expanded]="!changed">
          <mat-expansion-panel-header>Ваши заявки</mat-expansion-panel-header>
          <app-order-list *ngIf="orders.count != 0" [dataSource]="orders" (change)="change($event)"></app-order-list>
        </mat-expansion-panel>
        <mat-expansion-panel [hideToggle]="false" [disabled]="!changed" (closed)="onChanged()" [expanded]="changed">
          <mat-expansion-panel-header>Просмотр</mat-expansion-panel-header>
          <app-order-view [order]="order"></app-order-view>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
  <mat-tab label="Настройки">

  </mat-tab>
  <mat-tab label="Сервисы">

  </mat-tab>
</mat-tab-group>

