<mat-form-field class="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Искать" value="">
</mat-form-field>
<mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="caption">
    <mat-header-cell *matHeaderCellDef> Заголовок </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caption}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cost">
    <mat-header-cell *matHeaderCellDef> Стоимость </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="text">
        <mat-header-cell *matHeaderCellDef> Содержание </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.text}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Действие </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button mat-button (click)="onClick(element)">Взглянуть</button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator #paginator
    [pageSize]="7"
    [pageSizeOptions]="pageSizeOptions">
</mat-paginator>